.chat-page-body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(228, 33%, 97%);
}

.container {
  display: flex;
  justify-content: center;
  width: 45vw;
  height: 100%;
}

.send-message-section {
  display: flex;
  align-self: flex-end;
  background-color: white;
  margin-bottom: 50px;
  padding: 25px;
  height: 10vh;
  width: 100%;
  border-radius: 10px;
}


.send-message-section textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 400;
  resize: none;
  width: 70%;
  padding: 10px 30px 10px 30px;
  margin: 0px 15px 0px 15px;
  border-radius: 15px;
  border: 1px solid hsl(238, 40%, 52%);
  outline: none;
}